---
layout:
title:
permalink: /event-data/
---

[ {% for event in site.data.demotermine %}
    {% if event.land == "DE" %}
      {% assign color = "orange" %}
    {% elsif event.land == "CH" %}
      {% assign color = "red" %}
    {% elsif event.land == "AT" %}
      {% assign color = "red" %}
    {% endif %}
    { "color":"{{color}}", "title":"{{event.stadt}}, {{event.treffpunkt}}, {{event.protestform}}", "start": "{{event.datum}}T{{event.uhrzeit}}", "allDay":false, "url":"{{event.url}}", "country":"{{event.land}}" }
    {%unless forloop.last %},{%endunless%}
  {% endfor %}
]
