---
layout:
title:
permalink: /event-data/
---

[ {% for event in site.data.demotermine %}
    {% if event.land == "DE" %}
      {% assign color = "orange" %}
    {% elsif event.land == "CH" %}
      {% assign color = "red" %}
    {% elsif event.land == "AT" %}
      {% assign color = "red" %}
    {% endif %}
    {% if event.livestream %}
      {% capture title %}{{event.stadt}}, {{event.treffpunkt}}, {{event.protestform}} (live){% endcapture %}
    {% else %}
      {% capture title %}{{event.stadt}}, {{event.treffpunkt}}, {{event.protestform}}{% endcapture %}
    {% endif %}

    { "color":"{{color}}", "title":"{{title}}", "start": "{{event.datum}}T{{event.uhrzeit}}", "allDay":false, "country":"{{event.land}}", "url":"{{event.livestream}}" }
    {%unless forloop.last %},{%endunless%}
  {% endfor %}
]
