---
layout:
title:
permalink: /timeline-data/
---

{
  "title": {
    "media": {
      "url": "//www.angst-frei.ch/assets/img/hope.jpg",
      "caption": "Wenn Unrecht zu Recht wird, wird Widerstand zur Pflicht",
      "credit": ""
    },
    "text": {
      "headline": "Timeline",
      "text": "Ein Zeitstrahl mit allen wichtigen Ereignissen zu Covid"
    }
  },
  "events": [
    {% for post in site.posts %}
      {% if post.timeline %}
        {% capture year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% capture month %}{{ post.date | date: "%-m" }}{% endcapture %}
        {% capture day %}{{ post.date | date: "%-d" }}{% endcapture %}
        {
          "background": {
            "url": "/assets/img/timeline/{{ post.categories }}.jpg"
          },
          "media": {
            {% if post.youtubeId %}
            "url": "https://www.youtu.be/{{ post.youtubeId }}",
            {% elsif post.bitchuteId %}
            "url": "<iframe src='https://www.bitchute.com/embed/{{ post.bitchuteId }}'/>",
            {% elsif post.link %}
            "url": "{{ post.link }}",
            {% else %}
            "url": "https://api.microlink.io?url={{ post.redirect }}&screenshot=true&meta=false&embed=screenshot.url",
            "link": "{{ post.redirect }}",
            {% endif %}
            "caption": "{{ post.tags | join: ", " }}",
            "credit": ""
          },
          "group": "{{ post.categories }}",
          "start_date": {
            "month": {{ month }},
            "day": {{ day }},
            "year": {{ year }}
          },
          "text": {
            "headline": "{{ post.subtitle }}",
            "text": "{{ post.title }}"
          }
        },
      {% endif %}
    {% endfor %}
    {% for event in site.events %}
      {% capture year %}{{ event.date | date: "%Y" }}{% endcapture %}
      {% capture month %}{{ event.date | date: "%-m" }}{% endcapture %}
      {% capture day %}{{ event.date | date: "%-d" }}{% endcapture %}
      {
        "background": {
          "url": "/assets/img/timeline/{{ event.categories }}.jpg"
        },
        "media": {
          "url": "{{ event.img }}",
          "caption": "{{ event.tags | join: ", " }}",
          "credit": ""
        },
        "group": "{{ event.categories }}",
        "start_date": {
          "month": {{ month }},
          "day": {{ day }},
          "year": {{ year }}
        },
        "text": {
          "headline": "{{ event.subtitle }}",
          "text": "{{ event.title }}"
        }
      }
      {%unless forloop.last %},{%endunless%}
    {% endfor %}
  ]
}
