.fc-direction-ltr .fc-list-table .fc-list-event-graphic {
  padding-left: 2px;
  padding-right: 2px;
}

.fc-direction-ltr .fc-list-table .fc-list-event-graphic img {
  max-width: none
}

.fc .fc-daygrid-event-dot {
  display: none;
}

.fc .fc-event-title {
  text-align: left;
  padding-left: 0.2em;
}

@media (max-width: 767px) {

  .fc .fc-button {
    padding-top: 0.2em;
    padding-right: 0.4em;
    padding-bottom: 0.2em;
    padding-left: 0.4em;
  }

  .fc .fc-button {
    font-size: 0.8em
  }

  .fc .fc-toolbar-title {
    font-size: 1.2em
  }
}
