[class~='ch-flag'] > .fc-list-event-graphic > .fc-list-event-dot {
  background-image: url(https://demo.terminkalender.top/img/CH.png);
}

[class~='at-flag'] > .fc-list-event-graphic > .fc-list-event-dot {
  background-image: url(https://demo.terminkalender.top/img/AT.png);
}

[class~='de-flag'] > .fc-list-event-graphic > .fc-list-event-dot {
  background-image: url(https://demo.terminkalender.top/img/DE.png);
}

[class~='nl-flag'] > .fc-list-event-graphic > .fc-list-event-dot {
  background-image: url(https://demo.terminkalender.top/img/NL.png);
}

[class~='it-flag'] > .fc-list-event-graphic > .fc-list-event-dot {
  background-image: url(https://demo.terminkalender.top/img/IT.png);
}

[class~='be-flag'] > .fc-list-event-graphic > .fc-list-event-dot {
  background-image: url(https://demo.terminkalender.top/img/BE.png);
}

[class~='li-flag'] > .fc-list-event-graphic > .fc-list-event-dot {
  background-image: url(https://demo.terminkalender.top/img/LI.png);
}

[class~='us-flag'] > .fc-list-event-graphic > .fc-list-event-dot {
  background-image: url(https://demo.terminkalender.top/img/US.png);
}

[class~='uk-flag'] > .fc-list-event-graphic > .fc-list-event-dot {
  background-image: url(https://demo.terminkalender.top/img/UK.png);
}

[class~='fr-flag'] > .fc-list-event-graphic > .fc-list-event-dot {
  background-image: url(https://demo.terminkalender.top/img/FR.png);
}

[class~='hu-flag'] > .fc-list-event-graphic > .fc-list-event-dot {
  background-image: url(https://demo.terminkalender.top/img/HU.png);
}

[class~='cz-flag'] > .fc-list-event-graphic > .fc-list-event-dot {
  background-image: url(https://demo.terminkalender.top/img/CZ.png);
}

[class~='es-flag'] > .fc-list-event-graphic > .fc-list-event-dot {
  background-image: url(https://demo.terminkalender.top/img/ES.png);
}

[class~='ca-flag'] > .fc-list-event-graphic > .fc-list-event-dot {
  background-image: url(https://demo.terminkalender.top/img/CA.png);
}

[class~='ru-flag'] > .fc-list-event-graphic > .fc-list-event-dot {
  background-image: url(https://demo.terminkalender.top/img/RU.png);
}

.fc .fc-list-event-dot {
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: center;
  border: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
}

.fc .fc-daygrid-event-dot {
  display: none;
}

.fc .fc-event-title {
  text-align: left;
  padding-left: 0.2em;
}

@media (max-width: 767px) {

  .fc .fc-button {
    padding-top: 0.2em;
    padding-right: 0.4em;
    padding-bottom: 0.2em;
    padding-left: 0.4em;
  }

  .fc .fc-button {
    font-size: 0.8em
  }

  .fc .fc-toolbar-title {
    font-size: 1.2em
  }
}
