
[class~='ch-flag'] > .fc-list-event-graphic > .fc-list-event-dot {
  background-image: url(/assets/img/flaggen/CH.png);
}

[class~='at-flag'] > .fc-list-event-graphic > .fc-list-event-dot {
  background-image: url(/assets/img/flaggen/AT.png);
}

[class~='de-flag'] > .fc-list-event-graphic > .fc-list-event-dot {
  background-image: url(/assets/img/flaggen/DE.png);
}

[class~='nl-flag'] > .fc-list-event-graphic > .fc-list-event-dot {
  background-image: url(/assets/img/flaggen/NL.png);
}

[class~='it-flag'] > .fc-list-event-graphic > .fc-list-event-dot {
  background-image: url(/assets/img/flaggen/IT.png);
}

[class~='be-flag'] > .fc-list-event-graphic > .fc-list-event-dot {
  background-image: url(/assets/img/flaggen/BE.png);
}

.fc .fc-list-event-dot {
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: center;
  border: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
}

.fc .fc-daygrid-event-dot {
  display: none;
}

.popover {
  max-width: 330px;
}

