table {
  width: 100%
}

table td:first-of-type {
  width: 10%;
  text-align: center;
}

.date-meta {
  color: #808080;
  font-size: 1.125rem;
  font-style: italic;
  margin: 0 0 0.625rem;
  font-family: 'Lora', 'Times New Roman', serif;
}

.dlive {
  background: url('/assets/img/logos/dlive.jpg');
  background-size: contain;
  height: 18px;
  width: 18px;
  display: flex;
  font-style: normal;
  margin: auto;
}

.image-table td:first-of-type {
  width: auto;
}

blockquote blockquote p {
  padding-left: 5%;
}

h1, h2, h3, h4 {
  margin-top: 2.5rem;
}

.logo {
  margin-right: 1rem;
  height: 40px;
  width: auto
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#markdown-toc {  
  margin-top: 0.75rem;
  padding-left: 0;
}

#markdown-toc li {  
  list-style-type: none;
  font-size: small;
}

@media (min-width: 768px) {
  .post-preview {
    padding: 1.0rem 0;
  }
}

.grid {
  background: #FFF;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 25%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.remove-all-styles {
  all: initial;
}

