table {
  width: 100%
}

table td:first-of-type {
  width: 10%;
  text-align: center;
}

h1, h2, h3, h4 {
  margin-top: 2.5rem;
}

@media (min-width: 768px) {
  .post-preview {
    padding: 1.0rem 0;
  }
}

.grid {
  background: #FFF;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 25%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}
